<!-- 

<div class="menu-bar">
  <button
    mat-button
    *ngFor="let menu of nav_module"
    (click)="refreshMenu(menu.icon)"
  >
    <mat-spinner 
      *ngIf="menu.icon === 'home' && refreshingIcon === menu.icon" 
      diameter="20">
    </mat-spinner>
    
    <mat-icon *ngIf="!(menu.icon === 'home' && refreshingIcon === menu.icon)">
      {{ menu.icon }}
    </mat-icon>
  </button>
</div>


 -->



<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
<div class="app-container">
  <mat-toolbar class="header">

    <!-- MOBILE -->
    <div *ngIf="isMobile" class="logo">
      <img src="assets/images/logo.png" alt="logo" style="height:24px;">
    </div>

    <div *ngIf="isMobile" class="space-gap">

      <!-- Navigation Links -->
      <div *ngFor="let link of nav_module" [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}">

        <!-- Dropdown Menu -->
        <div *ngIf="link.submenus && link.submenus.length > 0; else regularLink">
          <button mat-icon-button [matMenuTriggerFor]="menu" style="color: #fff;">
            <i class="{{ link.icon }}"></i>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]">
              {{ submenu.description }}
            </button>
          </mat-menu>
        </div>

        <!-- Regular Link -->
        <ng-template #regularLink>
          <button mat-icon-button [routerLink]="[link.route]"
            *ngIf="link.description !== 'Notifications' && link.description !== 'Messaging' && link.description !== 'Profile'">
            <i class="{{ link.icon }}"></i>
          </button>

          <!-- Messaging -->
          <button mat-icon-button *ngIf="link.description === 'Messaging'" [routerLink]="[link.route]"
            matBadge="{{ unreadCount }}" matBadgeColor="warn" [matBadgeHidden]="unreadCount === 0">
            <i class="{{ link.icon }}"></i>
          </button>

          <!-- Notifications -->
          <button mat-icon-button *ngIf="link.description === 'Notifications'" matTooltip="View Notification"
            (click)="openNotifications()" [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0"
            matBadgeColor="warn">
            <mat-icon>notifications</mat-icon>
          </button>
        </ng-template>
      </div>

      <!-- Search -->
      <button mat-icon-button class="search-icon-btn" (click)="toggleSearch()" *ngIf="!isSearchOpen">
        <mat-icon>search</mat-icon>
      </button>

      <div *ngIf="isSearchOpen" class="search-overlay">
        <div *ngIf="isMobile">
          <!-- <app-search></app-search> -->
        </div>
        <button mat-icon-button class="close-btn" (click)="toggleSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <!-- Sidebar Toggle -->
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-label="Toggle navigation"
        *ngIf="isMobile">
        <mat-icon>{{ isSidebarOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>

    <!-- DESKTOP -->
    <div class="logo" *ngIf="!isMobile">
      <img src="assets/images/logo.png" alt="logo" style="height:24px;"> exsuz
    </div>

    <nav *ngIf="!isMobile" class="nav">
      <div class="fb-header-left">
        <app-search></app-search>
      </div>

      <div *ngFor="let link of nav_module" [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}">
        <div *ngIf="link.submenus && link.submenus.length > 0; else regularLinkDesktop">
          <button mat-button [matMenuTriggerFor]="menu" style="color:#fff;">
            <i class="{{ link.icon }}"></i> {{ link.description }}
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]">
              {{ submenu.description }}
            </button>
          </mat-menu>
        </div>

        <ng-template #regularLinkDesktop>
          <button mat-button [routerLink]="[link.route]"
            *ngIf="link.description !== 'Notifications' && link.description !== 'Messaging'">
            <i class="{{ link.icon }}"></i> {{ link.description }}
          </button>

          <button mat-icon-button *ngIf="link.description === 'Messaging'" [routerLink]="[link.route]"
            matBadge="{{ unreadCount }}" matBadgeColor="warn" [matBadgeHidden]="unreadCount === 0">
            <i class="{{ link.icon }}"></i>
          </button>

          <button mat-icon-button *ngIf="link.description === 'Notifications'" matTooltip="View Notification"
            (click)="openNotifications()" [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0"
            matBadgeColor="warn">
            <mat-icon>notifications</mat-icon>
          </button>
        </ng-template>
      </div>

      <!-- Profile Menu -->
      <div class="profile-section" *ngIf="user">
        <button mat-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>account_circle</mat-icon>
          <span class="profile-name">{{ user.fullname }}</span>
        </button>

        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item *ngIf="user.role_code === 'DEF-USERS'" [routerLink]="['/profile', user.code]">
            <mat-icon>person</mat-icon>
            My Profile
          </button>
          <button mat-menu-item *ngIf="user.role_code === 'DEF-CLIENT'" [routerLink]="['/company_profile', user.code]">
            <mat-icon>person</mat-icon>
            Client Profile
          </button>
          <button mat-menu-item [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            Settings
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </nav>
  </mat-toolbar>

  <!-- Sidebar for mobile -->
  <div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
    <div class="sidebar-header">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" style="height:20px;"> exsuz
      </div>
    </div>

    <ul class="list-unstyled" *ngFor="let link of nav_module" class="nav-item"
      [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}">
      <div *ngIf="link.submenus && link.submenus.length > 0; else regularLinkSidebar">
        <button mat-button [matMenuTriggerFor]="menu" class="nav-link">{{ link.description }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]">
            {{ submenu.description }}
          </button>
        </mat-menu>
      </div>
      <ng-template #regularLinkSidebar>
        <button mat-button class="nav-link" [routerLink]="[link.route]">
          <i class="{{ link.icon }}"></i> {{ link.description }}
        </button>
      </ng-template>
    </ul>
  </div>

  <!-- Main Content -->
  <!-- <div class="load-post-container">
    <button mat-raised-button class="facebook-load-btn" [disabled]="isLoading">
      <mat-spinner *ngIf="isLoading" diameter="20" color="accent"></mat-spinner>
      <span *ngIf="!isLoading">Load New Post</span>
    </button>
  </div> -->
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</div>