<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

<div class="app-container">
  <mat-toolbar class="header">
    <div *ngIf="isMobile" class="logo">
      <img src="assets/images/logo.png" alt="logo" style="height:24px;">
    </div>
  
  <!--MOBILE -->
    <div *ngIf="isMobile">
     
      <div class="space-gap">

          <div *ngFor="let link of nav_module" [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}" >
           
            <div *ngIf="link.submenus && link.submenus.length > 0; else regularLink"  >
              <button mat-icon-button [matMenuTriggerFor]="menu"  style="color: rgb(255, 254, 254);">
                <i class="{{ link.icon }}"></i>
              </button>
              

              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]" style="color: black;">
                  {{submenu.description}}
                </button>

                <button mat-menu-item mat-button (click)="onLogout()" *ngIf="link.description == 'Profile'">
                  Logout
                </button>
                
              </mat-menu>
            </div>
          
              <ng-template #regularLink>
                 <button 
                    mat-icon-button 
                    [routerLink]="[link.route]" 
                    *ngIf="link.description !== 'Notifications' && link.description !== 'Messaging'">
                    <i class="{{ link.icon }}"></i> 
                 </button>
              
                  <button  [routerLink]="[link.route]" mat-icon-button matBadge={{notificationCount}} matBadgeColor="warn"
                  *ngIf="link.description == 'Notifications'" >
                    <i class="{{ link.icon }}"></i> 
                  </button>

                  <button  [routerLink]="[link.route]" mat-icon-button matBadge={{messageCount}} matBadgeColor="warn"
                  *ngIf="link.description == 'Messaging'" >
                    <i class="{{ link.icon }}"></i> 
                  </button>
              </ng-template>
            </div>
            
              <button mat-icon-button  class="search-icon-btn" *ngIf="!isSearchOpen">
                <mat-icon>search</mat-icon>
              </button>
               
             <button mat-icon-button (click)="onLogout()">
                <mat-icon>logout</mat-icon>
             </button>

              <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-label="Toggle navigation" *ngIf="isMobile">
                <mat-icon>{{ isSidebarOpen ? 'close' : 'menu' }}</mat-icon>
              </button>

        </div>
    </div>




  <!-- DESKTOP -->
  <div class="logo" *ngIf="!isMobile">
    <img src="assets/images/logo.png" alt="logo" style="height:24px;">exsuz
  </div>
    <nav *ngIf="!isMobile" class="nav" >
      <div class="fb-header-left" *ngIf="!isMobile">
        <app-search></app-search>
      </div>

            <!-- menus with submenus -->
            <div *ngFor="let link of nav_module" [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}">
              <!-- Dropdown Menu -->
              <div *ngIf="link.submenus && link.submenus.length > 0; else regularLink">
                <button mat-button [matMenuTriggerFor]="menu"  style="color: rgb(255, 254, 254);">
                  <i class="{{ link.icon }}"></i> {{ link.description }}
                </button>
                
                <mat-menu  #menu="matMenu">
                  <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]" style="color: black;">
                    {{ submenu.description }}
                  </button>
                
                </mat-menu>
              </div>
            
              <!-- Regular Link with Notification Badge -->
              <ng-template #regularLink>
                <button mat-button [routerLink]="[link.route]" *ngIf="link.description !== 'Notifications' && link.description !== 'Messaging'">
                  <i class="{{ link.icon }}"></i> {{ link.description }}
                </button>
                <button mat-icon-button *ngIf="link.description === 'Messaging' && notificationCount > 0" 
                  [routerLink]="[link.route]" matBadge="{{ messageCount }}" matBadgeColor="warn">
                  <i class="{{ link.icon }}"></i> 
                </button>
            
                <!-- Notification Badge -->
                <button mat-icon-button *ngIf="link.description === 'Notifications'" 
                  [routerLink]="[link.route]" matBadge="{{ notificationCount }}" matBadgeColor="warn">
                  <i class="{{ link.icon }}"></i> 
                </button>

              </ng-template>

               
            </div>
            
            <button mat-icon-button (click)="onLogout()">
             <mat-icon>logout</mat-icon>
            </button>
    </nav>


    

    
  </mat-toolbar>

  <!-- Sidebar for mobile -->
  <div class="sidebar" [ngClass]="{'active': isSidebarOpen}">
    <div class="sidebar-header">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" style="height:20px;">
        exsuz
      </div>
    </div>

       <!-- menus with submenus -->
    <ul class="list-unstyled" *ngFor="let link of nav_module" class="nav-item" [ngClass]="{'dropdown': link.submenus && link.submenus.length > 0}">
      <div *ngIf="link.submenus && link.submenus.length > 0; else regularLink">
        <button mat-button [matMenuTriggerFor]="menu" class="nav-link">{{ link.description }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let submenu of link.submenus" [routerLink]="[submenu.route]">
            <i class="{{ link.icon }}"></i> {{ link.description }}
          </button>
        </mat-menu>
      </div>
      <ng-template #regularLink>
        <button mat-button class="nav-link" [routerLink]="[link.route]">
          <i class="{{ link.icon }}"></i> {{ link.description }}
        </button>
      </ng-template>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>


    <!-- <app-footer></app-footer> -->

</div>
