
.section-card {
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.section-card.full-width {
  grid-column: span 3;
  max-width: none;
  padding: 36px;
  border-radius: 8px;
  box-sizing: border-box;
}

.suggestions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: auto;
  padding-bottom: 8px;
}

.suggestion-card {
  min-width: 240px;
  flex-shrink: 0;
}

/* Close button top-right */
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}



/* Responsive tweaks */
@media screen and (max-width: 600px) {
  .suggestions {
    grid-template-columns: 1fr;
  }

  .suggestion-card {
    padding: 12px;
  }

  .custom-title {
    font-size: 14px;
  }

  mat-card-subtitle,
  .based-text {
    font-size: 12px;
  }
}
