<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="modal-container">
  <mat-card class="card">
    <!-- Center Image -->
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>
    <div class="modal-content">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let post of posts; let i = index"
            [class.active]="i === 0">
            <img [src]="post.path_url" class="d-block w-100" alt="Preview Image">
            
            <button  mat-icon-button  color="primary" (click)="deleteImage(post.posts_uuind)">
              <mat-icon>delete</mat-icon>
           </button>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </mat-card>

    <div class="comment-section">
      <div class="comment-list">
        <!-- <div *ngFor="let comment of post.comments" class="comment-item">
          <strong>{{ comment.username }}</strong>: {{ comment.text }}
        </div> -->
      </div>

      <div class="comment-input">
        <mat-form-field appearance="standard" class="comment-field">
          <textarea
            matInput
            placeholder="Write a comment..."
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      
    </div>



  <!-- <button mat-icon-button [matMenuTriggerFor]="menu"  [disabled]="isLoading">
    <mat-icon>more_horiz</mat-icon>
  </button> -->

  <!-- <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item [disabled]="isLoading"><mat-icon color="primary">edit</mat-icon>
      <span>Edit</span></button> 
    <button mat-menu-item (click)="deleteImage(posts.posts_uuind)" [disabled]="isLoading"> 
      <mat-icon color="warn">delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu> -->


</div>
