.chat-container {
    width: 400px;
    margin: auto;
    padding: 10px;
  }
  
  .chat-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .chat-bubble {
    max-width: 75%;
    padding: 10px;
  }
  
  .my-message {
    display: flex;
    justify-content: flex-end;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .message-input {
    flex-grow: 1;
  }
  