.chat-container {
    width: 400px;
    margin: auto;
    padding: 10px;
  }
  
  .chat-messages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .chat-bubble {
    max-width: 75%;
    padding: 10px;
  }
  
  .my-message {
    display: flex;
    justify-content: flex-end;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .message-input {
    flex-grow: 1;
  }
  



  .messaging-container {
    display: flex;
    height: 90vh;
  
    .sidebar {
      width: 300px;
      border-right: 1px solid #ddd;
      overflow-y: auto;
    }
  
    .message-content {
      flex: 1;
      padding: 50px;
  
      .message-checklist {
        list-style: none;
        padding: 0;
  
        li {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
  
          mat-icon {
            margin-right: 8px;
          }
        }
      }
  
      .message-actions {
        margin-top: 20px;
  
        button {
          margin-right: 10px;
        }
      }
    }
  }
  