<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>Filter Events</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mobile-filter-content">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search Events</mat-label>
        <input matInput [(ngModel)]="eventSearch" (ngModelChange)="onSearchChange($event)">
        <button *ngIf="eventSearch" mat-icon-button matSuffix (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>From</mat-label>
        <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
        <mat-label>To</mat-label>
        <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate">
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
</mat-dialog-actions>