
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }


  .login-card mat-card-header h2 {
    display: flex;
    align-items: center; /* Vertically centers the icon with the text */
    gap: 8px; /* Adds space between the icon and text */
    font-size: 18px;
  }
  .login-card  mat-icon {
    color: #185291; /* Replace #007bff with any color you prefer */
  }
  /* Card styling with scrolling enabled */
  .login-card {
    width: 100%;
    max-width: 500px; /* Limits the card width on larger screens */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh; /* Maximum height to prevent overflow beyond viewport */
    overflow: auto; /* Enables vertical scrolling */
    border-radius: 10px;
  }
  
  /* Full width for form fields and button */
  .full-width {
    width: 100%;
  }
  
  
  .signin-button {
    width: 100%;
    margin-top: 10px;
  }

  
  
  /* Mobile responsive adjustments */
  @media (max-width: 600px) {
    .login-container {
      padding: 10px;
    }
  
  
    .signin-button {
      margin-top: 5px;
    }
  }
  