<!-- Skeleton Loader -->
<div *ngIf="isLoading; else invites" class="grid-container">
    <div class="suggestion-card" *ngFor="let _ of skeletonRows; let i = index">
        <div class="skeleton skeleton-img" [attr.data-id]="i"></div>
        <div class="skeleton skeleton-text" [attr.data-id]="i"></div>
        <div class="skeleton skeleton-subtext" [attr.data-id]="i"></div>
        <div class="skeleton skeleton-button" [attr.data-id]="i"></div>
    </div>
</div>

<!-- Invites List -->
<ng-template #invites>
    <p class="no-data" *ngIf="!peopleInvites || peopleInvites.length === 0">
        No data found
    </p>

    <div class="grid-container" (scroll)="onScroll($event)">
        <mat-card class="suggestion-card" *ngFor="let person of peopleInvites">
            <button mat-icon-button class="close-button">
                <mat-icon>close</mat-icon>
            </button>

            <!-- Profile Image -->
            <div class="profile-image-container">
                <a [routerLink]="['/profile', person.follower_code]" class="profile-link">
                    <img *ngIf="person.photo_pic" [src]="person.photo_pic" alt="" />
                    <div *ngIf="!person.photo_pic || person.photo_pic === ''" class="avatar-letter">
                        {{ person.fullname?.charAt(0) | uppercase }}
                    </div>
                    <mat-icon class="status-dot" matTooltip="{{ person.is_online == 1 ? 'Active now' : 'Offline' }}"
                        [ngClass]="person.is_online == 1 ? 'online' : 'offline'">
                        circle
                    </mat-icon>
                </a>
            </div>
            <ng-container *ngIf="person.role_code === 'DEF-USERS'; else companyLink">
                <a [routerLink]="['/profile', person.follower_code]" class="custom-title">{{ person.fullname }}</a>
            </ng-container>
            <ng-template #companyLink>
                <a [routerLink]="['/client_profile', person.follower_code]" class="custom-title">{{ person.fullname }}</a>
            </ng-template>
            <mat-card-subtitle>{{ person.profession || '--' }}</mat-card-subtitle>
            <div class="client-action" *ngIf="currentUserCode !== person.follower_code">
                <div *ngIf="currentUserCode !== person.follower_code && person.follow_status === 'pending'">
                    <button mat-raised-button color="primary"
                        (click)="ConnectInvites(person.follower_code, person.fullname)">
                        <mat-icon>check</mat-icon> Accept
                    </button>
                </div>
            </div>
            
        </mat-card>
    </div>
</ng-template>