<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>
    I'm a Photographer
</h2>
<mat-divider></mat-divider>

  <mat-card class="role-card photographer">
    <!-- <div class="role-header">
      <mat-icon class="role-icon">photo_camera</mat-icon>
    </div> -->

    <p class="role-description">
      Capture, share, and monetize your event photography while building your professional portfolio.
    </p>

    <ul>
      <li>Upload and organize event photos</li>
      <li>Track photo engagement and downloads</li>
      <li>Earn money when people download your photos</li>
      <li>Showcase your photography portfolio</li>
      <li>Connect with event organizers and runners</li>
    </ul>
  </mat-card>
