<section class="profile-page-container">
  <div class="cover-container">
    <img [src]="event.image" alt="Event Image" class="event-cover" />
    <div class="event-header-overlay">
      <h1 class="event-title profile-actions">{{ event.title }}</h1>
      <span class="event-details">
        📍 {{ event.location }} | 📅 {{ event.date | date:'MMMM d, y' }}
      </span>
      <div class="event-stats">
        <div class="stat">
          <mat-icon color="basic">photo_library</mat-icon>
          <span>{{ event.photosCount | number }} Photos</span>
        </div>
        <div class="stat">
          <mat-icon color="basic">people</mat-icon>
          <span>{{ event.participantsCount | number }} Participants</span>
        </div>
      </div>
    </div>
  </div>
  <!-- TABS -->
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="Photos">
      <div class="sidebar-content">
        <div class="event-stats">
          <div class="button-end">

            <button mat-raised-button *ngIf="['photographer','admin','masteradmin'].includes(userRole)" [color]="
              sharedService.getEventStatus(event.date) === 'completed' ? 'warn' :
              (sharedService.getEventStatus(event.date) === 'today' || sharedService.getEventStatus(event.date) === 'upload') ? 'accent' : 'primary'
            " [routerLink]="getEventLink(event)"
              [disabled]="!(sharedService.getEventStatus(event.date) === 'today' || sharedService.getEventStatus(event.date) === 'upload')"
              [matTooltip]="sharedService.getEventTooltip(event.date)">
              {{
              sharedService.getEventStatus(event.date) === 'completed' ? 'Event Completed' :
              sharedService.getEventStatus(event.date) === 'today' ? 'Upload Photos Now' :
              sharedService.getEventStatus(event.date) === 'upload' ? 'Upload Photos' :
              'Upcoming Event'
              }}
            </button>

            <button mat-raised-button color="basic">
              <mat-icon>share</mat-icon>
              Share
            </button>
          </div>


        </div>
        <mat-divider></mat-divider>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Bib Number</mat-label>
          <input matInput placeholder="Enter your bib #" />
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-tab>

    <!-- <mat-tab label="Upload Photos">
<div class="sidebar-content">
<div class="event-stats">
<div class="stat">
<mat-icon color="primary">photo_library</mat-icon>
<span>{{ event.photosCount | number }} Photos</span>
</div>
<div class="stat">
<mat-icon color="primary">people</mat-icon>
<span>{{ event.participantsCount | number }} Participants</span>
</div>
</div>
<mat-divider></mat-divider>

<mat-form-field appearance="outline" class="full-width">
<mat-label>Bib Number</mat-label>
<input matInput placeholder="Enter your bib #" />
<button mat-icon-button matSuffix>
<mat-icon>search</mat-icon>
</button>
</mat-form-field>
</div>
</mat-tab>
-->

  </mat-tab-group>

</section>