<mat-card-content>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary" class="progress-bar">
  </mat-progress-bar>
  <form [formGroup]="uploadform" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard" class="full-width">
      <mat-icon matPrefix>cloud_upload</mat-icon>
      <input matInput type="file" (change)="onFileSelected($event)" accept="image/*" required>
      <mat-error *ngIf="fileControl.hasError('required')">
        Image is required.
      </mat-error>
    </mat-form-field>
    <div class="button-end">
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Upload</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="true" [disabled]="isLoading">Cancel</button>
    </div>
  </form>
</mat-card-content>
<mat-card-footer></mat-card-footer>