.search-wrapper {
  max-width: 500px;
  margin: auto;
}
.fullname-style {
  color: black;
  font-family: Verdana;
  font-size: 14px;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 800px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f3f3f3;
}
.clear-btn mat-icon {
  font-size: 20px;
  color: #666;
}

.clear-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.see-all {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}



.sticky-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  padding: 8px 16px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #666;
  border-bottom: 1px solid #eee;
}
