/* General Styling */
/* ::ng-deep mat-horizontal-stepper .mat-step-header {
   display: none; 
} */

/* Base styles for all screens */
mat-tab-group {
  margin: 2px;
}
mat-card-header {
  display: flex;
  align-items: left;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}


mat-card-header mat-icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 4px;
}

mat-card-content {
  padding: 16px;
  font-family: Verdana,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
mat-tab-group div {
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma,sans-serif;
  line-height: 1.6;
}

mat-tab-group h3 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #333;
}

mat-tab-group p {
  font-size: 1rem;
  color: #555;
}

/* Desktop (default styles for screens wider than 1024px) */
@media (min-width: 1024px) {
  mat-tab-group {
    width: 100%;
    margin: 0px;
  }

  mat-tab-group h3 {
    font-size: 1.75rem;
  }

  mat-tab-group p {
    font-size: 1.125rem;
  }
}

/* Tablet (screens between 768px and 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  mat-tab-group {
    max-width: 100%;
    margin: 0px auto;
  }

  mat-tab-group h3 {
    font-size: 1rem;
  }

  mat-tab-group p {
    font-size: 1rem;
  }
}

/* Mobile (screens smaller than 768px) */
@media (max-width: 767px) {
  mat-tab-group {
    width: 100%;
    margin: 16px auto;
    padding: 0 8px;
  }

  mat-tab-group h3 {
    font-size: 1.25rem;
  }

  mat-tab-group p {
    font-size: 0.875rem;
  }
  
::ng-deep .mat-autocomplete-panel {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

}


mat-form-field {
  width: 92%;
  margin-top: 0;
}

.full-width {
  width: 100%;
}
.example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin: 8px;
}
.example-width {
  max-width: 180px;
  width: 100%;
}

.mat-slider-horizontal {
  max-width: 600px;
  width: 100%;
}

.mat-slider-vertical {
  height: 300px;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-result-card .example-label-container.example-label-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px 16px;
  max-width: 284px;
}

.example-result-card .example-label-container.example-label-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 68px;
  height: 48px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}


mat-progress-bar {
  margin-bottom: 10px;
}

.progress-info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;

}
.radio-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

mat-radio-button {
  font-size: 16px;
}

.example-full-width {
  width: 90%;
}

.stepper-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 100%;
  margin: 0px;
  margin-top: 20px;
  overflow-y: auto;
  flex-direction: column;
  position: fixed; */

}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears on top */
}

/* Input styling */
.file-input {
  margin-top: 8px;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Error message styling */
.error-message {
  margin-top: 4px;
  color: #ff0000;
  font-size: 12px;
}

.image-preview-container {
  margin-top: 10px;
  text-align: center;
}

.profile-picture-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.file-name {
  margin-top: 5px;
  color: #3f51b5;
  font-size: 14px;
}
.text-center {
  margin-top: 60px;
  margin: auto;
  text-align: center;
  padding: 20px;
  color: gray;
}



/* Responsive for smaller screens (mobile) */
@media (max-width: 768px) {
  .profile-picture-preview {
    max-width: 100px; /* Reduce size for mobile */
    max-height: 100px; /* Reduce size for mobile */
  }
}

/* Responsive for larger screens (desktop) */
@media (min-width: 1200px) {
  .profile-picture-preview {
    max-width: 200px; /* Increase size for large screens */
    max-height: 200px; /* Increase size for large screens */
  }
}

mat-horizontal-stepper {
  width: 70%;
  background-color: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 600px;
  max-height: 600px;
}


/* General Styles for the Education Status */
.education-status {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}

mat-radio-button {
  color: #0076b6;
  font-size: 16px;
  display: inline-block;
}

mat-radio-button.mat-radio-checked {
  color: #004b70;
}

h2 {
  text-align: center;
  margin: 16px;
  font-size: 24px; /* Scales for mobile and desktop */
}

mat-divider {
  margin-bottom: 14px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap; /* Ensures wrapping on smaller screens */
}

.form-field {
  flex: 1;
  min-width: 120px;
}
button .button-field{
  width: 100px;
}

.change-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

mat-slide-toggle {
  margin-left: auto;
  margin-top: 20px;
}

/* Location Form Group */
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.language-row,
.skill-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.language-input,
.skill-input {
  flex: 1;
  margin-right: 10px;
}

.progress-bar {
  margin-top: 20px;
  text-align: center;
}

.skills-container {
  padding: 0;
  width: fit-content;
}

.skills-container h3 {
  color: #4b87d1;
  font-size: 20px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.skills-list {
  list-style-type: square;
  padding-left: 0px;
  margin: 0;
}

.skills-list li {
  font-size: 16px;
  margin-bottom: 5px;
}

.example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin: 8px;
}
.example-width {
  max-width: 180px;
  width: 100%;
}

.mat-slider-horizontal {
  max-width: 300px;
  width: 100%;
}

.mat-slider-vertical {
  height: 300px;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-result-card .example-label-container.example-label-horizontal {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px 16px;
  max-width: 284px;
}

.example-result-card .example-label-container.example-label-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 68px;
  height: 48px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}
/* General footer styling */
.mat-footer {
  background-color:none;/* Light grey background */
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.footer-left, .footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
  display: flex-end;
  gap: 15px;
}

.footer-right {
  text-align: right;
}
.material-symbols-outlined {
  font-family: 'Verdana', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Adjust size as needed */
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Progress bar container */
.progress-bar-container {
  margin-top: 10px;
  width: 100%;
  padding: 10px;

}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .mat-footer {
    padding: 15px;
    font-size: 12px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-left, .footer-right {
    text-align: center;
    margin-bottom: 10px;
  }

  /* Progress bar size adjustments for mobile */
  .progress-bar-container {
    padding: 5px;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start; /* Center-align cards */
  margin: 0px; /* Add spacing around the container */
  width: 980px;
  min-height: 250px; /* adjust as needed */
  padding: 16px;
}

.mat-card-border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top-left */
  background-color: #f5f5f5; /* Light gray background */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;

}
/* Make the mat-tab-header sticky at the top of the page */
mat-tab {
  position: fixed;
  top: 0;
  z-index: 10; /* Ensure it's above the content */
  background-color: white; /* Optional: set a background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
}

/* Optional: Adjust the content to ensure it has enough padding or margin below the tab header */
mat-tab-body {
  padding-top: 56px; /* Add margin to avoid content being hidden behind the sticky tab header */
}


.container-card:hover {
  transform: scale(1.02); /* Subtle zoom effect on hover */
}

mat-card-content h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

mat-card-content p {
  font-size: 1rem;
  margin: 4px 0;
}



@media (min-width: 768px) {
  /* Tablet styles */
  .education-container {
    justify-content: space-between; /* Space cards evenly */
  }

  .container-card {
    width: calc(50% - 16px); /* Two cards per row */
  }
}

@media (min-width: 1024px) {
  /* Desktop styles */
  .education-container {
    gap: 24px;
  }

  .container-card {
    width: calc(33.333% - 24px); /* Three cards per row */
  }
}


























/* Responsive Mobile Adjustments */
  /* .@media (max-width: 768px) {
form-row {
    flex-direction: column;
    gap: 15px;
  }sign

  .form-field {
    width: 100%;
  }

  .button-gap {
    flex-direction: column;
  }

  button {
    width: 100%;
    margin-bottom: 0px;
  }

  div[formArrayName] {
    gap: 10px;
  }

  div[formGroupName] {
    flex-direction: column;
  }

  div[formGroupName] mat-form-field {
    width: 100%;
  }

  mat-icon-button {
    align-self: flex-start;
  }

  textarea {
    width: 100%;
  }
  
.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  margin: 5px;
  overflow-y: auto;
}


mat-slide-toggle {
  margin-left: auto;
  margin-top: 40px;
}
mat-horizontal-stepper {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}
.form-container {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}


} */