
  .form-group-wrapper {
    max-height: 500px; 
    overflow-y: auto; 
    padding-right: 10px; 
  }
  
  .mat-dialog-content {
    max-height: 70vh; 
    overflow-y: auto;
  }
  
  .radio-group {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 8px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 10px;
  }
  
  .mat-radio-button {
    margin-right: 12px;
  }

  
