
.based-text{
    text-align: center;
    font-size: 12px;
}
.custom-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}


.suggestion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 1 3px 4px rgba(11, 1, 1, 0.08);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
  cursor: pointer;
}
.profile-image-container
{
  margin: 10px;
}
.suggestion-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
    background-color: #ffffff;
  }