.suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  padding: 20px;
  margin-top: 16px;
}
.based-text{
    text-align: center;
    font-size: 12px;
}
.custom-title {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.suggestion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1);
  cursor: pointer;

 
}
.profile-image-container
{
  margin: 10px;
}
.suggestion-card:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
    background-color: #ffffff;
  }