<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="main-container">

      <mat-card class="post-box-container" *ngIf="!isMobile">
        <div class="profile-avatar">
          <div class="avatar-container">
            <img 
              *ngIf="profile_pic; else defaultAvatar" 
              [src]="profile_pic.photo_pic" 
              alt="Profile Picture"
              class="profile-pic"
            />
            <ng-template #defaultAvatar>
              <img src="assets/default-avatar.png" alt="Default Avatar" class="profile-pic" />
            </ng-template>
        
            <div class="edit-overlay" (click)="uploadPic()">
              <mat-icon>photo_camera</mat-icon>
            </div>
          </div>
        
          <p *ngIf="error" class="error-message">{{ error }}</p>
        </div>
        
        <br>
        <mat-card-title class="profile-name">{{profiles.fname}} {{profiles.lname}}</mat-card-title>
        <mat-card-subtitle class="profile-email"></mat-card-subtitle>
        <mat-card-subtitle class="profile-location">{{profiles.profession}}</mat-card-subtitle>
      
        <mat-card-content>
          <mat-list>
            <mat-divider></mat-divider>
            <mat-list-item>
              <!-- <span class="list-label">Connections</span> 16  -->
             
            </mat-list-item>
           
          </mat-list>

          <div class="button-gap" *ngIf="profile_pic">
            <button mat-button class="list-label" [routerLink]="['/profile/', profile_pic.code ]">
              <mat-icon>person</mat-icon>View Profile
            </button>
          </div>
          
          
            <button mat-button class="list-label" (click)="printCV()">
              <mat-icon>description</mat-icon>View CV
            </button>
            <!-- <button mat-button  class="list-label" routerLink="/user-cv">
              <mat-icon>description</mat-icon>Edit CV
            </button> -->

        </mat-card-content>
      </mat-card>
      
     
      <!-- Middle Column: Post Section -->
      <div class="middle-column">
          <div class="post-box-container">
            <div class="input-section">
              <ng-template #defaultAvatar>
                <img src="assets/default.png" alt="Default Avatar" class="profile-pic" />
              </ng-template>
              <input  type="text"  placeholder="Create your post?" class="post-input" readonly  (click)="createPost()" />
              
            </div>
          
            <div class="actions-section">
              <button class="action-btn live-video">
                <span class="icon">🎥</span>Photo
              </button>
              <button class="action-btn photo-video">
                <span class="icon">📷</span> Video
              </button>
              <button class="action-btn reel">
                <span class="icon">🎞️</span> Events
              </button>
            </div>
          </div>
          
          <br>
          <!-- Post Display: Loop over posts -->
          <div *ngIf="isLoading" class="loading-spinner">
            <div class="custom-spinner">
            </div>
          </div>
          
           <div *ngIf="!isLoading">
            <div *ngFor="let post of posts">
              <mat-card class="post-box-container"  *ngIf="profile_pic">
                <!-- User Profile Section -->
                <mat-card-header>
                  <div mat-card-avatar class="avatar">
                  <img [src]="profile_pic?.photo_pic || 'assets/default.png'" alt="Profile Picture">
                </div>
                <mat-card-title>{{ post.Fullname }}</mat-card-title>
                <p>Status: {{ post.status === 1 ? 'Public' : 'Private' }}</p>
                <mat-card-subtitle>
                  <span class="followers">{{ followers }} followers</span> • 
                  <span class="active-hours">Active {{ activeHours }} ago</span>
                </mat-card-subtitle>
              </mat-card-header>
          
              <!-- Post Content -->
              <mat-card-content>
                <div *ngIf="post">
                  <p>
                    {{ post.expanded ? post.caption : (post.caption | slice:0:100) + '...' }}
                    <a *ngIf="post.caption.length > 100" (click)="post.expanded = !post.expanded" class="see-more">
                      {{ post.expanded ? 'See Less' : 'See More' }}
                    </a>
                  </p>
                </div>
                
                <div class="slideshow-container">
                  <div class="post-images">
                    <div *ngFor="let image of post.posts" class="post-item">
                      <img [src]="image.post" alt="Post Image">
                    </div>
                  </div>
                </div>


                
              </mat-card-content>
          
              <!-- Interaction Buttons -->
              <mat-card-actions class="interaction-buttons">
                <button mat-button (click)="likePost(post)"><mat-icon>thumb_up</mat-icon> Like</button>
                <button mat-button (click)="toggleComments(post)"><mat-icon>chat</mat-icon> Comment</button>
                <button mat-button><mat-icon>repeat</mat-icon> Repost</button>
                <button mat-button><mat-icon>send</mat-icon> Send</button>
              </mat-card-actions>

             <!-- Comment Section using Expansion Panel -->
              <mat-expansion-panel *ngIf="post.showComments" expanded>
                <mat-expansion-panel-header>
                  <mat-panel-title> Comments ({{ post.caption.length }}) </mat-panel-title>
                </mat-expansion-panel-header>
      
                <div class="comments-container">
                  <div *ngFor="let comment of post.comments" class="comment">
                    <img [src]="comment.profile_pic || 'assets/images/default.png'" alt="User" class="comment-avatar">
                    <div class="comment-content">
                      <strong>{{ comment.user }}</strong>
                      <p>{{ comment.text }}</p>
                    </div>
                  </div>
                </div>
      
                
                <div class="comment-input">
                  <input matInput placeholder="Write a comment..." [(ngModel)]="post.newComment" (keyup.enter)="addComment(post)">
                  <button mat-button (click)="addComment(post)" [disabled]="!post.newComment?.trim()">
                    <mat-icon>comment</mat-icon>
                  </button>
                  
                </div>


              </mat-expansion-panel>
            </mat-card>
          </div>
       </div>
      </div>
      
      <!-- Right Column: Lists -->
      <div class="right-column" *ngIf="!isMobile">
        <mat-card class="clients-list">
          <mat-card-header>
            <mat-card-title>LIST CLIENT'S</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="list-item">
              <mat-icon>person</mat-icon>
              <button mat-raised-button color="primary">FOLLOW <mat-icon>add</mat-icon></button>
            </div>
            <div class="list-item">
              <mat-icon>person</mat-icon>
              <button mat-raised-button color="primary">FOLLOW <mat-icon>add</mat-icon></button>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="spacer-top"></div>
        <!-- Users List -->
        <mat-card class="users-list">
          <mat-card-header>
            <mat-card-title>LIST USERS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="list-item">
              <mat-icon>person</mat-icon>
              <button mat-raised-button color="primary">CONNECT <mat-icon>add</mat-icon></button>
            </div>
            <div class="list-item">
              <mat-icon>person</mat-icon>
              <button mat-raised-button color="primary">CONNECT <mat-icon>add</mat-icon></button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
   
  </mat-sidenav-content>

</mat-sidenav-container>
