.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 26px;
  background-color: #f3f2ef;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.section-card {
  padding: 12px;
  background: #fffcfc;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  overflow-x: hidden;
}

.full-width {
  grid-column: span 2;
}

.network-summary .mat-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.count {
  margin-left: auto;
  font-weight: bold;
  color: #1976d2;
}


.invite-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.invite-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.invite-text {
  flex: 1;
}

.invite-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.section-card.full-width {
  grid-column: span 3;
  padding: 26px;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: none;

}

.suggestions {
  display: grid;
  grid-template-columns: 2fr;
  gap: 16px;
  margin-top: 16px;
  margin: auto;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.suggestion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px;

  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
  width: 220px;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}

.logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-bottom: 12px;
}

.suggestion-name {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 12px;
  word-wrap: break-word;
  max-width: 100%;
}

.suggestion-card button {
  width: 100%;
  font-weight: 600;
  border-radius: 4px;
}

