<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title>
    I'm a Runner / Buyer
</h2>
<mat-divider></mat-divider>
<div class="role-container">
    <div class="role-card buyer">
        <p class="role-description">
            Find and enjoy all your race photos in one place. Stay updated and share your achievements with ease.
        </p>
        <ul>
            <li>Access all your race photos anytime</li>
            <li>Receive notifications for new photos</li>
            <li>Share your favorite moments on social media</li>
            <li>Connect with event photographers</li>
        </ul>
    </div>
</div>