<app-cookies-ui></app-cookies-ui>
<router-outlet></router-outlet>

<div class="floating-btn" *ngIf="isLoggedIn && showChatButton" @fadeInUp>
    <button mat-fab color="primary" matTooltip="Messages" (click)="openChat()">
      <mat-icon>chat</mat-icon>
    </button>
  </div>


  <!-- WEBSITE CHAT
  <div class="floating-btn" *ngIf="showWebsiteChat" @fadeInUp>
    <button mat-fab color="primary" matTooltip="Messages" (click)="openChat1()" class="btn info" >
      <mat-icon>chat</mat-icon>
    </button>
  </div> -->


  <!-- WEBSITE CHAT -->
<div class="floating-btn" *ngIf="showWebsiteChat" @fadeInUp>
  <button class="btn btn-info" matTooltip="Messages" (click)="openChat1()">
    <i class="fa-solid fa-comment custom-icon"></i>

  </button>
</div>


<!-- 
<h1>Pusher Test</h1>
<p>
  Try publishing an event to channel <code>my-channel</code>
  with event name <code>my-event</code>.
</p>
<h2>Received Message:</h2>
<p>{{ message }}</p> -->

