.slideshow-container {
    position: relative;
    margin: auto;
    padding: 10px;
    min-height: 100px;
    max-height: 450px;
    overflow: auto;
    max-width: 600px;
  }
  
  .mySlides {
    display: flex;
    justify-content: center;
  }
  
  .slide-image {
    width: 200px;
    max-width: 600px;
    max-height: 300px;
    object-fit: cover;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-50%);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    color: white;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .column {
    flex: 0 0 auto;
    width: 16.66%;
    padding: 5px;
  }
  
  .demo {
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  

  .upload-section {
    text-align: center;
    margin-top: 15px;
  }
  
  .upload-section input {
    margin-right: 10px;
  }
  
  .upload-section button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .open-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
  }
  
  .open-btn:hover {
    background-color: #218838;
  }
  
  .close-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .close-btn:hover {
    background-color: #c82333;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  
  .remove-btn {
    position: absolute;
    color: rgb(255, 19, 19);
    top:0px;
    right: 40px;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%; /* Circular button */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3); /* Soft shadow */
  }
  
  
  /* Responsive for mobile */
@media screen and (max-width: 768px) {
  .slide-image {
    max-height: 300px; /* Reduce size for smaller screens */
  }
  
  .prev, .next {
    font-size: 14px;
    padding: 8px;
  }

  .column img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .slide-image {
    max-height: 250px;
  }

  .prev, .next {
    font-size: 12px;
    padding: 6px;
  }

  .column img {
    width: 40px;
    height: 40px;
  }
}