<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <div class="sidebar-logo">
        <img src="assets/logo.jpg" alt="logo" class="logo-img" />
        <span>MyRacePics</span>
      </div>
      <span class="spacer"></span>
      <button *ngIf="eventsLink" mat-button color="basic" [routerLink]="eventsLink.route">
        Events
      </button>

      <button mat-icon-button [matMenuTriggerFor]="cartMenu" matBadge="{{ cartCount }}" matBadgeColor="warn"
        [matBadgeHidden]="cartCount === 0">
        <mat-icon>shopping_cart</mat-icon>
      </button>


      <button *ngIf="users" mat-raised-button class="avatar-btn" [matMenuTriggerFor]="profileMenu"
        matTooltip="{{ users?.fullname }}">
        <span class="avatar-initials">
          {{ getInitials(users?.fullname)}}
        </span>
      </button>

      <!-- Profile Menu -->
      <mat-menu #profileMenu="matMenu" class="profile-menu-overlay">
        <button mat-menu-item [routerLink]="profileLink?.route">
          <mat-icon>person</mat-icon>
          <span>{{profileLink?.description}}</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="onLogout()">
          <mat-icon color="warn">logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>




      <mat-menu #cartMenu="matMenu">
        <ng-container *ngIf="cartItems.length > 0; else emptyCart">
          <div class="cart-item" *ngFor="let item of cartItems">
            <span>{{ item.title }}</span>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/cart">
            <mat-icon>shopping_bag</mat-icon>
            View Cart
          </button>
        </ng-container>
        <ng-template #emptyCart>
          <button mat-menu-item disabled>Cart is empty</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>

    <div class="app-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>