<mat-sidenav-container class="sidenav-container">

  <!-- SIDEBAR -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="app-sidenav">
    <div class="sidebar-logo">
      <img src="assets/logo.jpg" alt="logo" class="logo-img" />
      <span>MYRacePICS</span>
    </div>

    <mat-nav-list>
      <a mat-list-item *ngFor="let link of nav_module" [routerLink]="link.route">
        <mat-icon matListIcon>{{ link.icon }}</mat-icon>
        <span matLine>{{ link.description }}</span>
      </a>
    </mat-nav-list>

    <!-- <div class="logout-section">
      <button mat-raised-button color="basic" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div> -->
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content>

    <!-- TOP TOOLBAR -->
    <mat-toolbar color="primary" class="top-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
      <span class="spacer"></span>

      <button *ngIf="eventsLink" mat-button color="basic" [routerLink]="eventsLink.route">
        Events
      </button>

      <button mat-icon-button [matMenuTriggerFor]="cartMenu" matBadge="{{ cartCount }}" matBadgeColor="warn"
        [matBadgeHidden]="cartCount === 0">
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <mat-menu #cartMenu="matMenu">
        <ng-container *ngIf="cartItems.length > 0; else emptyCart">
          <div class="cart-item" *ngFor="let item of cartItems">
            <span>{{ item.title }}</span>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/cart">
            <mat-icon>shopping_bag</mat-icon>
            View Cart
          </button>
        </ng-container>
        <ng-template #emptyCart>
          <button mat-menu-item disabled>Cart is empty</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>

    <div class="app-container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>