.mat-checkbox .mat-checkbox-label {
  padding-left: 10px;
}

.mat-icon {
  font-size: 18px;
  margin-left: 8px;
}
.close-button {
  position: absolute;
  top: 18px;
  right: 8px;
}


.mat-list-item {
  padding-left: 40px;
}

.mat-expansion-panel-header {
  background-color: #f1f1f1;
}

.mat-card {
  margin-top: 5px;
}

/* The parent container of the submenu */
.submenu-container {
  max-height: 200px;  /* Set a fixed height */
  overflow-y: auto;   /* Enable vertical scrolling */
  padding-right: 10px; /* Optional: add padding for scrollbar visibility */
}

.mat-checkbox {
  display: block;
}

.mat-icon {
  font-size: 18px;
  margin-left: 8px;
}

.submenu-container::-webkit-scrollbar {
  width: 8px;  /* Scrollbar width */
}

.submenu-container::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 10px;
}

.submenu-container::-webkit-scrollbar-track {
  background-color: lightgray;
}
/* Container for the spinner */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* To center it vertically in the viewport */
}

.mat-spinner {
  width: 40px;
  height: 40px;
}

.ml-2 {
  margin-left: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close-button mat-icon {
  font-size: 24px;
  color: #ffffff;  /* Close icon color */
}

@media (max-width: 600px) {
  .mat-spinner {
    width: 40px;  /* Smaller spinner on mobile */
    height: 40px; /* Smaller spinner on mobile */
  }
}

@media (min-width: 1200px) {
  .mat-spinner {
    width: 60px;  /* Larger spinner on larger screens */
    height: 60px; /* Larger spinner on larger screens */
  }
}

@media (max-width: 600px) {
  .submenu-container {
    max-height: 200px; /* Smaller height for mobile screens */
  }

  .mat-expansion-panel-header {
    padding: 8px 16px; /* Adjust header padding on mobile */
  }

  .mat-checkbox {
    font-size: 14px; /* Smaller font size for checkboxes */
  }

  .mat-icon {
    font-size: 16px; /* Smaller icon size on mobile */
  }

  .mat-card {
    margin-top: 10px; /* Optional: reduce top margin for mobile */
  }
}

/* For larger tablets and desktop screens */
@media (min-width: 601px) {
  .submenu-container {
    max-height: 400px; /* Increase height for tablets and desktops */
  }

  .mat-checkbox {
    font-size: 16px; /* Normal font size for larger screens */
  }

  .mat-icon {
    font-size: 18px; /* Larger icon size for desktop */
  }
}

.form-container{
    display: flex;
    flex-direction: column;
    height: 510px; /* Make sure the card takes the full available height */
    overflow-y: auto;
  }
  
  mat-card-content {
    margin-top: 10px;
    flex-grow: 1; /* Allow content to grow to fill remaining space */
    overflow-y: auto; /* Enable scrolling for overflow content */
    max-height: 500px; /* Set a maximum height if needed */
  }
