 
 <div class="form-container">
 <div *ngIf="loading" class="d-flex justify-content-center align-items-center my-4">
  <mat-spinner diameter="40"></mat-spinner>
  <span class="ml-3">Loading...</span>
</div>

<div *ngIf="error" class="alert alert-danger text-center">{{ error }}</div>

<form (ngSubmit)="submitData()" *ngIf="!loading && !error">
  
  <div *ngFor="let section of securityRoles" class="mb-4">
    <h4 class="text-primary">{{ section.desc_code | titlecase }}</h4>

    <div *ngFor="let item of section.datas" class="mb-3">

      <mat-expansion-panel (opened)="toggleSubMenu(item)" (closed)="toggleSubMenu(item)">
        <mat-expansion-panel-header>
          <mat-checkbox 
            [checked]="item.access" 
            (change)="onCheckboxChange2(item, item.submenu, $event)"
            (click)="$event.stopPropagation()">
            {{ item.description }}
          </mat-checkbox>
          <mat-icon *ngIf="item.submenu?.length > 0">
            {{ item.expanded ? 'expand_more' : 'expand_less' }}
          </mat-icon>
        </mat-expansion-panel-header>
  
        <!-- Submenu items -->
        <div *ngIf="item.expanded">
          <mat-list>
            <mat-list-item *ngFor="let submenu of item.submenu">
              <mat-checkbox 
                [checked]="submenu.access" 
                (change)="onCheckboxChange2(item, submenu, $event)">
                {{ submenu.description }}
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>

    </div>
  </div>

  <!-- No data message -->
  <div *ngIf="securityRoles.length === 0" class="alert alert-info text-center">No data available</div>

  <!-- Update button -->
  <div mat-dialog-actions align="end">
    <button type="submit" mat-raised-button color="primary">Update</button>
  </div>
</form>
</div>