.logo img {
  width: 100%;
  height: 100px;
}
.logos img {
  width: 2in; /* 2 inches wide */
  height: 2in; /* 2 inches tall */
  object-fit: cover; /* Ensures the image fits within the dimensions */
}

.logo  {
  width: 100%;
  height: 100px;
}
.data-item {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  font-family: Verdana, sans-serif; /* Choose a clean, readable font */
  font-size: 16px; /* Adjust text size */
  margin-bottom: 1px; /* Add spacing between items */
  object-fit: cover; 

}

.label {
  font-weight: bold;
  text-align: left;
  color: #808080; 
  width: 150px; /* Set a fixed width for alignment */
}

.value {
  text-align: left;
  flex: 1; /* Let the value section expand naturally */
}




.header {
  display: flex;
  justify-content: space-between; /* Pushes items to left and right */
  align-items: center; /* Vertically centers */
  margin: 15px;
  gap: 50px;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  align-items: right;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.header-content p {
  margin: 2px 0;
  font-size: 14px;
}

.header-content strong {
  text-transform: uppercase;
}
