/* FULL PAGE CENTER */
.auth-container {
  height: 100vh;          /* allow content to grow */
  background: linear-gradient(135deg, #0d192f, #1197feef);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow-y: auto;           /* allow vertical scroll */
  padding: 16px;              /* prevent edge cutoff on mobile */
}


/* CARD */
.auth-card {
  width: 100%;
  height:100vh;
  background: #fff;
  overflow: hidden;
  display: flex;
  overflow-y: auto;
}

.auth-cover {
  flex: 1.5;
  background: #0f0f10;
  background-image: url('/assets/logo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* OVERLAY */
.cover-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 60, 120, 0.75),
      rgba(0, 60, 120, 0.75));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.cover-overlay h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.cover-overlay p {
  font-size: 16px;
  opacity: 0.9;
}

/* RIGHT FORM */
.auth-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}


/* FORM STYLES */
.full {
  width: 100%;
}

.btn {
  width: 100%;
  margin-top: 16px;
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .auth-card {
    flex-direction: column;
  }

  .auth-cover {
    flex: 0 0 200px;
    max-width: 100%;
    height: 200px;
  }

  .cover-overlay {
    text-align: center;
  }

}

/* RADIO GROUP */
.role-group {
  display: flex;
  gap: 16px;
  margin: 16px 0;
  flex-wrap: wrap;
}

/* RADIO BUTTON CARD STYLE */
.role-radio {
  flex: 1;
  padding: 14px 18px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Align radio + text */
.role-radio .mat-radio-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Hover effect */
.role-radio:hover {
  border-color: #1976d2;
  background: rgba(25, 118, 210, 0.04);
}

/* Checked state */
.role-radio.mat-radio-checked {
  border-color: #1976d2;
  background: rgba(25, 118, 210, 0.08);
  box-shadow: 0 6px 14px rgba(25, 118, 210, 0.15);
}

/* Radio circle */
.role-radio .mat-radio-outer-circle {
  border-color: #1976d2;
}

/* Inner dot */
.role-radio .mat-radio-inner-circle {
  background-color: #1976d2;
}

/* Label text */
.role-radio .mat-radio-label-content {
  font-size: 15px;
  font-weight: 500;
}

/* Mobile full width */
@media (max-width: 600px) {
  .role-radio {
    width: 100%;
  }
}

