<div class="auth-card">
    <div class="auth-cover"></div>

    <div class="auth-content">
        <mat-tab-group [(selectedIndex)]="selectedTab" animationDuration="500ms"
            (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Login">
                <h2>Welcome Back</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Enter your email" formControlName="email" />

                        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                            Invalid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter your password"
                            formControlName="password" />

                        <mat-icon matSuffix (click)="togglePasswordVisibility()" style="cursor:pointer">
                            {{ passwordVisible ? 'visibility_off' : 'visibility' }}
                        </mat-icon>

                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <br /><br />

                    <button mat-raised-button color="primary" class="full-width" type="submit"
                        [disabled]="isLoading || loginForm.invalid">
                        Login
                    </button>
                    <div style="text-align: center;margin: 5px;">OR</div>
                    <button mat-stroked-button class="google-btn full-width" type="button" (click)="loginWithGoogle()">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google">
                        Sign in with Google
                    </button>

                </form>

                <div class="links">
                    <a (click)="switchToSignUp()">Don't have an account? Sign up</a><br />
                    <a routerLink="/forgetpassword">Forgot Password?</a><br /><br />
                    <a routerLink="/">Back to home</a>
                </div>
            </mat-tab>

            <!-- ================= REGISTER ================= -->
            <mat-tab label="Register">
                <h2>Create Account</h2>
                <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstname" />
                        <mat-error *ngIf="signupForm.get('firstname')?.hasError('required')">
                            First name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastname" />
                        <mat-error *ngIf="signupForm.get('lastname')?.hasError('required')">
                            Last name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" />
                        <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="password_confirmation" />
                    </mat-form-field>
                    <!-- ROLE SELECTION -->
                    <mat-radio-group   class="role-group" formControlName="role" required (change)="onRoleSelected($event.value)">
                        <mat-radio-button value="runner">Runner</mat-radio-button>
                        <mat-radio-button value="photographer">Photographer</mat-radio-button>
                    </mat-radio-group>

                    <button mat-raised-button color="primary" [disabled]="signupForm.invalid" class="btn full"
                        type="button" (click)="onSignup()">
                        Register
                    </button>
                    <div style="text-align: center;margin: 5px;">OR</div>

                    <button mat-stroked-button class="google-btn full" type="button" (click)="signupWithGoogle()">
                        <img src="assets/google.svg" alt="Google" />
                        Sign up with Google
                    </button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>