<div class="container">
  <!-- People&Clients -->
    <h1 style="text-align: center;">Invites Request</h1>
    <!-- <h3>People skilled in Web Development also follow these pages</h3> --> 
    <!-- <button mat-button color="primary" (click)="openSuggestionsModal()">
      Show All
    </button> -->

    <div class="suggestions">
      <mat-card class="suggestion-card" *ngFor="let person of people">
         <button mat-icon-button class="close-button">
          <mat-icon>close</mat-icon>
        </button>
             <div class="profile-image-container">
                <a [routerLink]="['/profile', person.follower_code]">
                    <img [src]="person.photo_pic" [alt]="person.fullname" class="profile-image" />
                </a>
            </div>


          <mat-card-title class="custom-title"> {{ person.fullname }}</mat-card-title>
          <mat-card-subtitle>{{ person.profession || '--' }}</mat-card-subtitle>
          <p class="based-text">Based on your profile</p>
          <button mat-stroked-button color="primary"    *ngIf="currentUserCode !== person.follower_code"
              (click)="AddConnect(person.follower_code)">
            <mat-icon>person_add</mat-icon>
              Pending
          </button>

      </mat-card>

    </div>

</div>
